<!--Div that will hold the pie chart-->
<div id="chart_div" style="width:400; height:300"></div>
<input type="text" name="daterange" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM" />
<script type="text/javascript">
$(function() {
   

    $('input[name="daterange"]').daterangepicker();


});
</script>
